{% extends "main.html" %}
{% block content %}
<center>
    <div class="skills">
        <div class="all_skills" style="font-family: 'Playfair Display', serif; ">
            <h3 style="font-size: 50px;">Python Django</h3>
            <p>I specialize in building powerful and scalable web applications using Django. From setting up models, views, and templates to handling user authentication and admin dashboards, I have hands-on experience with the full development cycle. I also follow Django best practices and write clean, reusable code.</p>
            <br>
            <h3 style="font-size: 50px;">SQL (Structured Query Language)</h3>
            <p>I have strong command over SQL and database management. I write efficient queries to interact with relational databases, perform complex joins, nested queries, subqueries, data analysis, and more. I'm also comfortable working with Oracle’s SCOTT schema and understand performance optimization techniques.</p>
            <br>
            <h3 style="font-size: 50px;"> React</h3>
            <p>I build interactive and dynamic user interfaces using React. I know how to manage components, state, props, and hooks to create responsive and modern web apps. I also integrate React with backend APIs to create full-stack solutions.</p>
        </style=>
    </div>
</center>
{% endblock content %}
